<html>
    <head>
        {{{parse "head.html"}}}
    </head>
    <body>
        <div class="content">
            {{{parse "top.html"}}}
            <h2>About me</h2>
            Hi!
            <p>
                I'm Alex, and I'm doing all of this because of a hobby.
                I find entertaining and challeging the world of programming and computers in general.
                I've been interested in this sice I was in highschool, and I like to just dive in
                all this information that we have in our hands.
            </p>
            <p>
                I'm into any kind of technology, from web development with HTML, CSS, JS, Node, PHP...
                to more robust languages like Java, Python, and even low level ones like C, Rust, etc...
                Just for the sake of doing all kind of stuff, different every time.
            </p>
            {{{parse "footer.html"}}}
        </div>
    </body>
</html>
