body{
    font-family: "Ubuntu", "Helvetica", "sans";
}

body > .content {
    max-width: 900px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex > .gap {
    flex: 1 1 auto;
}

/*Menu CSS*/
.top-menu {
    padding: 5px 10px;
    margin: 0;
}

.top-menu > li {
    list-style: none;
    padding: 0 10px;
}

.top-menu > li > a {
    color: inherit;
}

/*Links color*/
a {
    color: inherit;
}

a:visited{
    color: #808080;
}
